@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
@layer base {
  * {
    @apply box-border;
  }
  
  body {
    @apply m-0 p-0;
  }
}

/* Custom utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

